
/************************/
/* Estilos para el main */
/************************/

    main {
        flex: 1;                    /* Hace que el contenido de la etiqueta main crezca para llenar el espacio disponible ¡¡¡IMPORTANTE!!!*/
        /* Prueba a quitar la línea de flex: 1; para ver qué ocurre */
        padding: 0 2rem 2rem 2rem;  /* Añade un relleno de 2rem alrededor del contenido principal */
    }

/***********************************/
/* Estilos del cuerpo de la página */
/***********************************/

    body {
        /* Estos son los estilos que van a hacer que el body se configure correctamente */
        min-height: 100vh;                  /* Asegura que la altura mínima de la página sea la del viewport (pantalla) */
        margin: 0;                          /* Elimina el margen por defecto de todos los elementos */
        padding: 0;
        box-sizing: border-box;             /* Asegura que el padding y los bordes no aumenten el ancho/alto total del elemento */
        display: flex;                      /* Utiliza Flexbox para alinear los elementos de la lista en una fila */
        flex-direction: column;             /* Alinea los hijos (cabecera, navegación, etc.) verticalmente */
        /********************************************************************************/
        font-family: 'Arial', sans-serif;   /* Define la fuente principal de la página */
        line-height: 1.6;                   /* Establece la altura de línea (espacio entre líneas de texto) */
        background-color: #F4F4F4;        /* Aplica un color de fondo claro al cuerpo de la página */
    }

/**************************/
/* Estilos del encabezado */
/**************************/

    header {
        background-color: #4CAF50;  /* Establece un color de fondo verde para la cabecera */
        color: white;               /* Define el color del texto de la cabecera como blanco */
        text-align: center;           /* Alinea al centro el texto de la cabecera */
    }

    header h1 {
        text-align: center;
    }

/*****************************/
/* Estilos del pie de página */
/*****************************/

    footer {
        background-color: #4CAF50;  /* Aplica el mismo color verde de la cabecera al pie de página */
        color: white;               /* Establece el color del texto del pie de página en blanco */
        text-align: center;           /* Centra el texto en el pie de página */
        font-size: 0.9rem;            /* Define un tamaño de fuente más pequeño para el texto del pie de página */
    }

/*********************************************/
/* Estilos columnes de los dos tipos de grid */
/*********************************************/

    .contenedor-grid {
        padding: 20px;  /* Aplica un relleno de 20 píxeles */
    }

    .contenedor-grid h1 {
        text-align: center;
    }

    .grid-container {
        display: grid;                           /* Aplica el modelo de diseño de CSS Grid, que permite crear layouts de cuadrícula (grid) */
        grid-template-columns: repeat(4, 1fr);   /* Configura el grid con 4 columnas donde cada columna ocupará una fracción igual del espacio disponible en el contenedor */
        gap: 10px;                               /* Configura 10 píxeles de espacio entre los elementos */
        padding: 20px;                           /* Añade un relleno de 20 píxeles al contenedor */
    }

/*********************************************************************************/
/* Estilos de los elementos en un grid-container con elementos no proporcionales */
/*********************************************************************************/

    .item-desigual-1 {
        background-color: lightblue;    /* Color de fondo */
        padding: 20px;                    /* Aplica un relleno de 20 píxeles */
        text-align: center;               /* Centra el texto */
        border: 1px solid #333;         /* Configuración del borde */
        grid-column: 1 / 3;               /* Ocupa 2 columnas */
    }

    .item-desigual-2 {
        background-color: lightblue;    /* Color de fondo */
        padding: 20px;                    /* Aplica un relleno de 20 píxeles */
        text-align: center;               /* Centra el texto */
        border: 1px solid #333;         /* Configuración del borde */
        grid-column: 3 / 5;               /* Ocupa las columnas 3 y 4 */
    }

    .item-desigual-3 {
        background-color: lightblue;    /* Color de fondo */
        padding: 20px;                    /* Aplica un relleno de 20 píxeles */
        text-align: center;               /* Centra el texto */
        border: 1px solid #333;         /* Configuración del borde */
        grid-column: span 3;              /* Ocupa 3 columnas usando span */
    }

    .item-desigual-4 {
        background-color: lightblue;    /* Color de fondo */
        padding: 20px;                    /* Aplica un relleno de 20 píxeles */
        text-align: center;               /* Centra el texto */
        border: 1px solid #333;         /* Configuración del borde */
    }

/******************************************************************************/
/* Estilos de los elementos en un grid-container con elementos proporcionales */
/******************************************************************************/

    .item-proporcional{
        border: 1px solid #ccc;     /* Borde del item */
        border-radius: 10px;          /* Bordes redondeados */
        padding: 10px;                /* Añade un relleno de 10 píxeles */
        text-align: center;           /* Centrar el contenido del item */
        background-color: #f9f9f9;  /* Fondo del item */
    }